
@use "../foundation/" as *;

.l-container {
  max-width: 1140px;
  margin-inline: auto;
  box-sizing: content-box;
  padding-inline: 32px;

  @include breakpoint(950, down) {
    padding-inline: 0;
  }
}