@use "../foundation/" as *;


.l-header {
  position: fixed;
  top: 16px;
  width: 100%;
  z-index: 999;
  padding: 0 64px;
  @include breakpoint(1200, down) {
    padding: 0 32px;
  }
  @include breakpoint(950, down) {
    padding: 0 32px;
    top: 8px;
  }
  @include breakpoint(750, down) {
    padding: 0 16px;
  }
  &__container {
    background: rgba($color-white , .7);
    display: flex;
    align-items: center;
    padding: 16px 24px;
    border-radius: 100px;
    box-shadow: 0px 5px 10px rgba($color-black, .1);
    @include breakpoint(950, down) {
      padding: 16px;
    }
    @include breakpoint(750, down) {
      padding: 8px 16px;
    }
  }

  &__logo {
    margin: 0;
    width: 64px;
    @include breakpoint(950, down) {
      width: 32px;
    }
    a , img {
      display: block;
    }
  }

  &__nav {
    margin-left: auto;
    @include breakpoint(950, down) {
      display: none;
    }

  }
  &__nav-list {
    display: flex;
    align-items: center;
    gap: 16px;
    @include breakpoint(1200, down) {
      gap: 8px;
    }
  }
  &__nav-item {}
  &__nav-link {
    display: block;
    color: $font-base-color;
    text-decoration: none;
    position: relative;
    @include breakpoint(1200, down) {
      font-size: 14px;
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      transform: scaleX(0);
      transform-origin: right;
      transition: .5s;
      transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,visibility,box-shadow,transform;
      width: 100%;
      height: 2px;
      background: $font-base-color;
    }
    @include hover() {
      &::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
}