
@use "../foundation/" as *;

.c-heading {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.c-heading {
  font-size: 28px;
  @include webfont();
  font-weight: 700;
  position: relative;
  padding: 0 64px;
  display: inline-block;
  &::before, &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 54px;
    height: 34px;
    @include breakpoint(750, down) {
      width: 40px;
      height: 26px;
    }
  }
  &::before {
    left: 0;
    background: url("../images/icon-wing-left.svg") no-repeat center center / cover;
  }
  &::after {
    right: 0;
    background: url("../images/icon-wing-right.svg") no-repeat center center / cover;
  }

  @include breakpoint(750, down) {
    font-size: 24px;
    padding: 0 48px;
  }
}
