
@use "../foundation/" as *;

.p-lead {
  &__text {
    margin: 0;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    @include breakpoint(950, down) {
      font-size: 14px;
    }
  }
}