@use "../foundation/" as *;


.p-main-visual {
  width: 100%;
  position: sticky;
  top: 136px;
  height: calc(100vh - 136px);
  padding-bottom: 16px;
  max-height: 816px;

  @include breakpoint(950, down) {
    height: 100%;
    padding-bottom: 0;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
    @include breakpoint(950, down) {
      gap: 8px;
    }
  }
  &__images {
    height: fit-content;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba($color-black, .1);
    position: relative;
    max-width: 604px;

    &:nth-child(1) {
      border-radius: 64px 0 0 0;
      @include breakpoint(950, down) {
        border-radius: 24px 0 0 0;
      }
    }
    &:nth-child(2) {
      border-radius: 0 0 64px 0;
      @include breakpoint(1400, up) {
        margin-left: auto;
      }
      @include breakpoint(950, down) {
        border-radius: 0 0 24px 0;
      }
    }

    @include breakpoint(950, down) {
      position: relative;
      top: inherit;
      max-width: 100%;
      max-height: 100vw;
      right: inherit;
      width: 100%;
      height: auto;
      transform: translate(0, 0);
    }
  }

  &__image {
    width: 100% !important;
    img {
      @include img-option;
      aspect-ratio: 604 / 395;
      @include breakpoint(950, down) {
        aspect-ratio: 16 / 9;
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(40px);
  }
}
