
@use "../foundation/" as *;

.p-music-card.is-home {
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  .p-music-card__image {
    border-radius: 32px 0;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba($color-black, .1);
    @include breakpoint(950, down) {
      border-radius: 24px 0;
    }
  }
}

.p-music-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(356px , 1fr));
  gap: 32px 16px;
  @include breakpoint(750, down) {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  &__item {
    display: block;
    text-decoration: none;
    color: $font-base-color;
    @include hover() {
      opacity: 1;
    };
  }
  &__image {
    overflow: hidden;
    img {
      transition: .3s;
      aspect-ratio: 324 / 182;
      @include group-hover() {
        transform: scale(1.05);
      };

      @include breakpoint(950, down) {
        aspect-ratio: 16 / 9;
      }
    }
  }
  &__content {
    margin-top: 12px;
  }
  &__title {
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}