
@use "../foundation/" as *;

.p-profile {
  display: flex;
  flex-direction: column;
  gap: 24px;
  &__item {
    border-radius: 32px 0;
    background: rgba($color-primary , .2);
    padding: 32px;
  }

  &__item-table {
    width: 100%;
  }
}