@use "../foundation/" as *;
.c-table {
  tr {
    border-bottom: 1px solid #aaa;
    th, td {
      text-align: left;
      padding: 8px 12px;
      font-size: 16px;
      @include breakpoint(950, down) {
        padding: 8px 8px;
        font-size: 14px;
      }
    }
    th {
      width: 120px;
      @include breakpoint(950, down) {
        width: 100px;
      }
      small {
        display: block;
      }
    }
    td {
    }
  }
}